header{
background-color:  #0f1633; text-align: center; color: gold;
font-size: 25px
}
main{
background-color: #0f1633;
}
h2{
text-align: center; 
color: gold;
font-size: 40px
}
p{
text-align: center;
}
